.cardList{
  margin: 5% 4%;
  height: 100%;
  display:flex;
  flex-wrap: wrap;
  flex-grow: 1;
}

.Card{
  align-items: stretch;
  margin-left: 1%;
  display: inline-block;
  margin-bottom: 1%;
  border: 2px solid black;
  justify-content: center;
  padding: 1% 3%;
  width: 20vw;
}

.Card:hover{
  transform: scale(1.05);
  cursor: pointer;
}

.App {
  display: flex;
  flex-direction: column;
  align-items: center; /* Center horizontally */
  justify-content: center; /* Center vertically */
  margin-top: 2vh;
}

.inputBar {
  width: 50vw;
  height: 5vh;
  font-size: 3.2vh;
  margin-left: 2%;
  /* Other styles for .inputBar */
}

.loader {
  background-color: red;
  background-color: rgba(248, 247, 246, 0.247);
  border-top: rgb(225, 218, 209) 0.5em solid;
  border-bottom: rgb(225, 218, 209) 0.5em solid;
  border-left: rgb(225, 218, 209) 0.5em solid;
  border-right: rgb(22, 105, 220) 0.5em solid;
  border-radius: 50%;
  animation: loading 0.5s linear infinite;
  height: 4.9em;
  width: 4.9em;
  margin-top: 20%;
  display: none;
}

  
  @keyframes loading {
    0% {
      transform: rotate(0deg);
    }
    50% {
        transform: rotate(180deg);
      }
    100% {
      transform: rotate(360deg);

    }

}

.TopicDropdown{
  width: 20vw;
  height: 5.5vh;
  font-size: 2.5vh;
  margin-left: 2%;
  background-color: gray;
  font-weight: bold;
  cursor: pointer;
}

